[Desktop Entry]
Name=StereOs
Comment=Turn your PC into a stereo system
Exec=stereos
Icon=stereos
Terminal=false
Type=Application
Categories=AudioVideo;Player;
